@font-face {
  font-family: "DukeFill";
  src: url("../public/fonts/Duke_Fill.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "DukeFill", sans-serif;
  font-size: 20px;
  background-color: #e4dfdb;
}
