@font-face {
  font-family: "DukeFill";
  src: url("public/fonts/Duke_fill.otf") format("truetype"); /* Adjust the path as needed */
}

body {
  font-family: "DukeFill", sans-serif;
  font-size: 20px;
  background-color: #e4dfdb;
}
